<p><%=@question%></p>
<p>-You</p>
<br>
<div class="alert alert-warning" role="alert">
<p><%=@answer%></p>
<p>-Your coach</p>
</div>
<br>
<%= link_to 'Ask a new question', ask_path, class: "text-decoration-none" %>
