<p>Ask your coach anything:</p>
<form action="/answer" data-turbo="false" class="form-inline d-flex col-4">
  <input class="form-control col-1" type="text" name="question">
  <input class="form-control btn btn-primary" type="submit" value="Ask!">
</form>
